---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import { Image } from 'astro:assets';
import tienda from '/src/assets/img/TIENDA NEXT.png';
import pizza from '/src/assets/img/LEÑA MIA.png';
import gas from '/src/assets/img/DISGAS.png';
import Button from '@/components/Button.astro';
import blur from '/src/assets/img/bg.svg';
import PortfolioCard from '@/components/PortfolioCard.astro';

let title = Astro.props;
---

<Head title='Portfolio' />
<Layout
	class='relative'
	title='Portfolio'>
	<div class='grid mt-[11.1111%] content-center'>
		<Title text='Portfolio' />
	</div>
	<!-- ABOUT ME -->
	<section class='grid px-3 lg:px-0 content-start text-white'>
		<Image
		src={blur}
		class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<div class='grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]'>

			<PortfolioCard
				img={tienda}
				alt={title}
				site="https://github.com/AlexZama-San/tienda-NextJS"
				title='TIENDA NEXT'
				badgeProps={[
					{ text: "JavaScript" },
					{ text: "HTML/CSS" }
			]}
				badgeLinkProps={[ 
					{text: "NextJS", alt: "Astro logo", href: "https://nextjs.org"},
					{text: "DOCKER", alt: "Astro logo", href: "https://www.docker.com"},
					{text: "Mongo", alt: "Astro logo", href: "https://www.mongodb.com/es/cloud/atlas/lp/try4?utm_source=bing&utm_campaign=search_bs_pl_evergreen_atlas_core_prosp-brand_gic-null_amers-mx_ps-all_desktop_eng_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=415204517&adgroup=1221557888421229&msclkid=c45be1e56c5f167354628423d4526611"},
					{text: "TailwindCSS", alt: "TailwindCSS logo", href: "https://tailwindcss.com/"}

			 ]}
				description={`
				this is a project that i made by myself, i used nextjs, tailwindcss, docker and mongoDB, the project is a online store, the main goal was to make a fast and secure site, and i did it, the site is very fast and secure,
				the site use a docker container to run the mongoDB, and the site is hosted in vercel
				`}
			>
	</PortfolioCard>

		<PortfolioCard
		img={pizza}
		alt={title}
		site="https://github.com/AlexZama-San/Pagina-Le-a-Mia"
		title='Leña Mia pizza'
		badgeProps={[
			{ text: "JavaScript" },
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "Bootstrap", alt: "bootstrap", href: "https://getbootstrap.com/"},
		]}
			description={`
			Leña Mia is a pizza restaurant, I made the site using Bootstrap components and JavaScript, the site is very fast and secure, the site is hosted in github pages
			and have a form to make orders.
			`}
		>
		</PortfolioCard>

		<PortfolioCard
		img={gas}
		alt={title}
		site="https://github.com/AlexZama-San/Paginas/tree/master/DISGas"
		title='DisGas'
		badgeProps={[
			{ text: "JavaScript" },
			{ text: "HTML/CSS" }
		]}
			badgeLinkProps={[ 
				{text: "Bootstrap", alt: "bootstrap", href: "https://getbootstrap.com/"},
		]}
			description={`
			using the same template of Leña Mia, i made a site for a gas company, the site is very fast and secure, the site is hosted in github pages
			and using bootstrap components and JavaScript, this site haves information about the company and their services.
			`}
		>
		</PortfolioCard>

		<div
					class='self-start blur-bg rounded-xl p-4 lg:p-10 w-full max-w-[400px]'>
					<p class='text-xl font-light tracking-wide mt-5'>
						You can find this site, and other projects that i made on my github go and check it out!
					</p>
					<div class='mt-5'>
						<Button
							text='Check out'
							link='https://github.com/AlexZama-San/Portfolio-Alex'
						/>
					</div>
				</div>


		</div>
	</section>
</Layout>
